@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #697cbc;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: white;
}

.table-link {
  text-decoration: none;
  color: black;
}

.back-link {
  text-decoration: none;
  color: white;
    margin-left: 300px;
    border: 1px solid white;
  border-radius: 5px;
  padding: 2px 5px;
}
.back-link:hover {
  background: #3a4569;
  border: 1px solid rgb(130, 130, 130);
}

.back-link:active {
  background: #020202;
  border: 1px solid rgb(130, 130, 130);
}
table {
  border-collapse: collapse;
  margin: 25px 0;
  margin: auto;
  max-width: 800px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  cursor: default;
}
table tbody tr {
  border-bottom: 1px solid #f3f3f3;
}
table tbody tr:hover {
  font-weight: bold;
}

table tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

table tbody tr:nth-of-type(even) {
  background-color: #cfd4e7;
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #29314e;
}

thead tr {
  background-color: #29314e;
  color: #fff;
  font-weight: bold;
  text-align: left;
}

table th,
table td {
  padding: 10px 12px;
}

tbody {
  text-align: left;
}
.container {
  margin: 25px;
  padding: 20px;
  background-color: #29314e;
  margin: auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.pagination {
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.paginationBtns {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid #020513;
  border-radius: 5px;
  color: #020513;
}

.paginationBtns:hover {
  color: white;
  background-color: #020513;
}